<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxy.mybatis.dao.mapper.UserOrderMapper">

    <!--自定义resultMap-->
    <resultMap id="userOrderResultMap" type="orders">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="number" column="number"/>
        <result property="createTime" column="createtime"/>
        <result property="note" column="note"/>
        <!--一对一关联属性 cxy javaType 属性必须设置-->
        <association property="user" javaType="cn.cxy.mybatis.model.User">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="sex" property="sex"/>
        </association>
    </resultMap>

    <!--extends属性通过继承去除自定义resultMap之间的相同属性映射-->
    <resultMap id="orderAndOrderDetailResultMap" type="orders" extends="userOrderResultMap">
        <collection property="orderDetails" ofType="orderDetails">
            <id column="detail_id" property="id"/>
            <result column="items_id" property="itemId"/>
            <result column="items_num" property="itemNum"/>
        </collection>
    </resultMap>

    <resultMap id="userItemsResultMap" type="user">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex"/>
        <result column="address" property="address"/>

        <collection property="ordersList" ofType="orders">
            <id column="o_id" property="id"/>
            <result column="o_number" property="number"/>

            <collection property="orderDetails" ofType="orderDetails">
                <id column="od_id" property="id"/>
                <result column="od_items_id" property="itemId"/>
                <result column="od_items_num" property="itemNum"/>

                <association property="items" javaType="items">
                    <id column="od_items_id" property="id"/>
                    <result column="it_name" property="name"/>
                    <result column="it_price" property="price"/>
                    <result column="it_detail" property="detail"/>
                </association>
            </collection>
        </collection>
    </resultMap>

    <select id="findUserItemsResultMap" resultMap="userItemsResultMap">
        SELECT
            u.*,
            o.id         o_id,
            o.number     o_number,
            od.id        od_id,
            od.items_id  od_items_id,
            od.items_num od_items_num,
            it.name      it_name,
            it.price     it_price,
            it.detail    it_detail
        FROM user u, orders o, orders_detail od, items it
        WHERE o.user_id = u.id AND od.orders_id = o.id AND it.id = od.items_id
    </select>

    <!--使用resultType实现-->
    <select id="findUserOrder" resultType="cn.cxy.mybatis.vo.UserOrderVo">
        SELECT
            o.*,
            u.id,
            u.sex,
            u.username
        FROM orders o, user u
        WHERE o.user_id = u.id
    </select>

    <!--使用resultMap实现-->
    <select id="findUserOrderResultMap" resultMap="userOrderResultMap">
        SELECT
            o.*,
            u.id,
            u.sex,
            u.username
        FROM orders o, user u
        WHERE o.user_id = u.id
    </select>

    <!--通过 resultMap 实现一对多查询结果包装-->
    <select id="findOrderAndOrderDetailResultMap" resultMap="orderAndOrderDetailResultMap">
        SELECT
            o.*,
            u.id,
            u.sex,
            u.username,
            od.id detail_id,
            od.items_id,
            od.items_num
        FROM orders o, user u, orders_detail od
        WHERE o.user_id = u.id AND od.orders_id = o.id
    </select>


</mapper>
