<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cxy.mybatis.dao.mapper.UserOrderMapper">

    <!--使用resultType实现-->
    <select id="findUserOrder" resultType="cn.cxy.mybatis.vo.UserOrderVo">
        SELECT
            o.*,
            u.id,
            u.sex,
            u.username
        FROM orders o, user u
        WHERE o.user_id = u.id
    </select>


</mapper>
